.hero-section {
  background-color: #1a1a1a;
  color: white;
  padding: 2rem;
  text-align: center;
  margin-top: 4rem; /* Ajusta este valor según la altura del navbar */
  position: relative;
  overflow: hidden; /* Asegura que el contenido no se desborde */
}

.hero-section img {
 
  height: auto;
  display: block;
  margin: 0; /* Elimina márgenes si los hay */
  padding: 0; /* Elimina padding si lo hay */
  object-fit: cover; /* Ajusta la imagen para que cubra bien su contenedor */
}   

.carousel-image {
  width: 100%;
  height: 372px; /* Ajusta esta altura según tus necesidades */
  object-fit: cover;
}